body{   
    margin: 0;
    padding: 0;
    background-color: bisque;
}
#wrapper{
    text-align: center;
    padding: 3.5rem;
    
}
#normal button{
    background-color:rgb(251,251,251);
}

.fill button{
 color: white;
 background-color: rgb(51, 51, 51);
}

.hover:hover{
    background-color: rgb(0,102,0);
}
