body{
    text-align: center;
}

h1{
    font-family: sans-serif;
    font-weight: 400;
    color: #747474;
    line-height: 1.15;
    text-transform: uppercase;
    margin-bottom: 10px;
}
span{
    font-family: sans-serif;
    font-style: oblique;
    font-weight: 600;
    font-size: 16px;
    line-height: 1.46;
    color: #5c5a5a;
    margin-bottom: 10px;
}
p{
    font-family: sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.46;
    color: #5c5a5a;
    margin-bottom: 10px;
}
