header{background-color: lawngreen;
}
main{
   
background-color: lightsalmon;

}

footer{
background-color: blue;
color: azure;
}

.mainNavigation{
    display: inline-block;
}

.mainNavigation ul{
    list-style: none;
}

.mainNavigation li{
  margin: 3px;
}

.mainNavigation a{
    color: white;
}

aside{
    background-color: aquamarine;
    display: inline-block;
    width: 50%;
}

section{
    width: 50%;
    display: inline-block;
    background-color: lightpink;
} 