#wrapper{
    border: 1px solid black;
    background-color: grey;

    width: 400px;
    margin-left: 20px;
    padding: 10px;
}
p{
    font-size: 18px;
}
h1:nth-child(1){
   text-align: center;
}
h1:nth-child(2){
    font-size: 30px;
}

q::before { content: open-quote; }
q::after { content: close-quote; }