#wrapper{
    background-color: #a6e1ec;
    border: 2px solid grey;
    padding: 10px 20px;
    height:730px;
    width: 700px;
}


#card{
    border: 2px solid gray;
    margin-bottom: 5px;
    list-style: none;
    padding: 10px;
    font-size: 14px;
    width: 595px;
}

img{
    width: 200px;
    margin-right: 10px;
    vertical-align: middle;
}
span {
color: #3f51b5;
}