@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100&family=Water+Brush&display=swap');
body{
    margin: 0 10px 0 10px;
    
}

#welcomeSection{
  background-color: #31493C;
 padding: 20px 50px;
}

#welcomeSection h1{
    text-align: center;
    color: white;
    font-family: Roboto;
}

#welcomeSection p{
  font-size: 18px;
  letter-spacing: 1px;
  color: whitesmoke;
  font-family: Roboto;  
}

#articleSection{
    background-color:  #7A9E7E;
    padding: 10px 20px;
}

#articleSection .title{
    text-align: center;
    color: beige;
}

#articleSection #articleList{
   list-style: none;
   padding: 0;
   margin: 0;
}

#articleSection #articleList .articleItem {
    background-color: #31493C;
    padding: 8px 4px;
    border-radius: 6px;
    margin-bottom: 12px;
}

#articleSection #articleList .articleItem article h1{
    text-align: center;
    color: #B3EFB2;
}

#articleSection #articleList .articleItem article p{
    font-size: 18px;
    color: white;
}
#articleSection > p{
 color: red;
 text-align: center;
}

