body{
    margin: 0;
    padding: 0;
    background-color: grey;
}
nav{
    height: 50px;
    background-color: rgb(30, 28, 28);
}

ul{
    margin: 0;
    text-align: center;
}

li{ 
  padding: 10px 15px;
    display: inline-block;
    list-style: none;
}
a{  text-decoration: none;
    color: aliceblue;
    font-size: 20px;
}



footer{
    background-color: rgb(30, 28, 28);
    color: aliceblue;
    height:30px;
}