body {
    background: #edf2f7;
    ;
    font-family: Arial, Helvetica, sans-serif;
}

img {
    width: 100px;
}

section h2 {
    text-transform: uppercase;
    text-align: center;
    color: rgb(50, 46, 46);
}

#products {
   padding: 0;
   margin: 0;
   list-style: none;

}

#products li{
    margin-bottom: 12px;
    display: inline-block;
    width: 48%;
    
}

.product{
    border-radius: 12px;
    background-color: rgb(230, 189, 112); 
    overflow: hidden;
    padding: 12px;
     
}
.product .img__wrapper{
    width: 100%;
    height: 250px;
    overflow: hidden;
    
}
.product .product__image{
    width: 100%;
    height: 100%;
    object-fit:contain;
    
}
.product .product__title{
    color: rgb(50, 46, 46);
    text-align: center;
    text-transform: capitalize;
    padding: 0 12px;
}
.product .product__description{
    color: rgb(50, 46, 46);
    font-size: 12px;
    font-style: italic;
}

.product .product__btn{
    display:inline-block;
    width: 80%;
    margin: 12px 10%;
    border: none;
    border-radius: 12px;
    padding: 4px;
    cursor: pointer;
}
.product .product__btn:hover{
    background-color: rgb(123, 87, 20);
}