body{
   background-color: rgb(236, 236, 47);
}
h1{
    font-size: 27px;
}
.section{
    width: 800px;
    margin: 15px 10px;
    padding: 5px 15px;
    border: 1px solid black;
    background-color: rgb(226, 226, 117);
}

.section:nth-child(2){
  color: rgb(106, 200, 169);
}
.section:nth-child(3){
    color: rgb(106, 200, 169);
  }
  

