 @font-face {
     font-family: "Roboto";
     src: url(./Roboto-BlackItalic.ttf);
 }
 
h1{
    font-family: Roboto, Arial, Helvetica, sans-serif;
    font-size: 50px;
}

article{
    font-size: 1em;
}
article p{
    font-size: 1.5em;
    background-color: aqua;
    line-height: 1.7rem;
    letter-spacing: 2px;
}
article p span{
    font-size: 1.9em;
}
  