body{
    margin: 0;
    padding: 0;
    background-color: #cccccc;
}

ul{ 
    background-color: #444;
    text-align: center;
    padding: 0;
    margin: 0;
}

.list-item{
    display: inline-block;
    list-style: none;  
 padding: 20px;
 font-size: 24px;
 line-height: 40px;
 height: 40px;
}
.list-item a{
    text-decoration: none;
    color: #ffffff;
}