body{
    margin: 0px;
    padding: 0px;
    background-color: lightslategray;
}
nav ul{
    background-color: black;
    color: aliceblue;
}

header ul li{
    display: inline-block;
    margin: 10px;
}

header ul li a{
    text-decoration: none;
    float:left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}
.header a:hover {
    background-color: #ddd;
    color: black;
}


header ul li img{
    float: left;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}
